body {
 background-color: rgb(255, 223, 175)
}
body {
    color: rgb(255, 132, 0);
  }
  h1 {
    color: rgb(255, 162, 0);
    font-size: 250px;
    margin-bottom: 0%;
  }
  h3 {
    margin-top: 0%;
    font-size: 32px;
    color: rgb(255, 183, 96);
    margin-bottom: 0%;
  }

h2 {
    font-size: 20px;
    color: rgb(245, 100, 48);
    margin-bottom: 3%;
    font-weight: bold;
    }

.list{margin-left: 7%;}

  a {
    color: hotpink;
  }
  h1{font-family: 'Bebas Neue', bold;}
  h3{font-family: 'IBM Plex Sans Devanagari', sans-serif;}

  body{ font-family: 'Abel', sans-serif;}


  ul {
    list-style:square;
    margin-bottom: 0%;

  }

  .flex-container {
    display: flex;
    flex-direction: row;
justify-content:flex-start;
justify-content: space-around;
  }

.dog{margin-left: 0%;
margin-top: 4%;}

.cat{margin-top: 5%;
    margin-left: 8%;
align-content: center;}

 .face{margin-top: 5%;
        margin-left: 15%;
    }

.extra{margin-bottom: 0%;
    margin-left: 7%;}

.zera{margin-top: 0%;
    margin-left: 15%;}
